<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SwearBot</title>
  </head>
  <style type="text/css">
body {
	margin:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

#box1, #box2{
	width:200px;
	height:200px;
	margin:50px;
	padding:5px;
  border-radius: 25px;
  text-align: center;

  margin: auto;
}

#box1 {
	background:#4242f4;
}

#box2 {
	background:#4ae2ab;
}

h2, p  {
	padding:10px;
  text-align: center;
  color: #000000;
}

#box1 p, #box2 p {
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}
</style>
<div style="float: left;">
<a href="{{ url_for('swears') }}" style="float: left;" id="box1">
	<h2>Add A Swear Word</h2>
</a>
</div>
<div style="float: right;">
<a href="{{ url_for('home') }}" style="float: left" id="box2">
	<h2>Analytics</h2>
</a>
</div>
<div style="float: right;">
<a href="{{ url_for('about') }}" style="float: right;" id="box1">
	<h2>About</h2>
</a>
</div>
</html>
